/*misc*/ /*variables colors*/
/*variables spacings*/
/*variables fonts*/
/*variables texts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.imagenes {
  object-fit: cover;
}

/*mixins*/
/*partials*/
/*modificaciones header*/
.header_content {
  border-bottom: 0.3rem black solid;
  align-items: center;
}
.header_content .divImagen_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_content .divImagen_header .anclaHeader {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.anclas {
  margin-right: 2rem;
  font-family: "Dancing Script", cursiva;
  font-size: 1.2em;
  transition: all 1s;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.anclas:hover {
  color: black;
  background-color: violet;
  border-radius: 3rem;
  border-style: solid;
  letter-spacing: 0.25em;
  font-weight: bold;
}

/*modificaciones footer*/
.footer_content {
  border-top: 0.3rem black solid;
  align-items: center;
}
.footer_content .logo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_content .logo_footer .footer_logo {
  height: 100px;
}
.footer_content .nosotros_footer {
  text-align: center;
  margin-top: 2rem;
}
.footer_content .nosotros_footer .miniTitulo_footer {
  font-family: "Satisfacer", cursiva;
  font-weight: bold;
  font-size: 2em;
}
.footer_content .nosotros_footer .parrafo_footer {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  padding-bottom: 2rem;
}
.footer_content .nuestras_redes {
  text-align: center;
  margin: auto;
}
.footer_content .nuestras_redes .miniTitulo_footer_redes {
  font-family: "Satisfacer", cursiva;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 1.5rem;
}
.footer_content .nuestras_redes .logos_redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_content .nuestras_redes .logos_redes .logo_ig {
  height: 40px;
  margin-right: 2rem;
}
.footer_content .nuestras_redes .logos_redes .logo_yt {
  height: 40px;
}

.derechos_footer {
  background-color: gray;
  align-items: center;
}
.derechos_footer .footer_derechos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.derechos_footer .footer_derechos .parrafo_derechos {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

/*views*/
/*modificaciones main index*/
.cuerpo {
  background-color: rgb(218, 192, 255);
}
.cuerpo .mainTittle {
  text-align: center;
  padding-top: 4rem;
}
.cuerpo .mainTittle .tituloPrincipal_index {
  font-family: "Island Moments", cursiva;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  padding-bottom: 2rem;
  text-decoration: underline 0.3rem;
  color: rgb(157, 82, 157);
}
.cuerpo .mainTittle .subtituloPrincipal_index {
  font-family: "Island Moments", cursiva;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: rgb(157, 82, 157);
}
.cuerpo .imagenmano_index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.cuerpo .manoAnimada {
  animation: animaciones infinite 2s ease-in-out;
  width: 30%;
}
@keyframes animaciones {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.seccionBienvenida {
  margin-left: 4rem;
  margin-top: 4rem;
}
.seccionBienvenida .tituloBienvenida {
  font-family: "Rubik Vinyl", cursiva;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: overline;
}

.seccionesIndex {
  text-align: center;
  align-items: center;
}
.seccionesIndex .seccion_uno {
  display: inline-block;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.seccionesIndex .seccion_uno .miniTitulos_index {
  font-family: "Satisfacer", cursiva;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 2rem;
}
.seccionesIndex .seccion_uno .parrafos_index {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
}
.seccionesIndex .imagenSeccion_uno {
  display: inline-block;
  padding-top: 4rem;
  padding: 4rem;
}
.seccionesIndex .imagenSeccion_uno .imagenIndex_uno {
  width: 60%;
  border: 0.3rem black solid;
  object-fit: cover;
}

.seccionesIndex {
  text-align: center;
  align-items: center;
}
.seccionesIndex .seccion_dos {
  display: inline-block;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.seccionesIndex .seccion_dos .miniTitulos_index {
  font-family: "Satisfacer", cursiva;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 2rem;
}
.seccionesIndex .seccion_dos .parrafos_index {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
}
.seccionesIndex .imagenSeccion_dos {
  display: inline-block;
  padding-top: 4rem;
  padding: 4rem;
}
.seccionesIndex .imagenSeccion_dos .imagenIndex_dos {
  width: 60%;
  border: 0.3rem black solid;
  object-fit: cover;
}

.seccionesIndex {
  text-align: center;
  align-items: center;
}
.seccionesIndex .seccion_tres {
  display: inline-block;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.seccionesIndex .seccion_tres .miniTitulos_index3 {
  font-family: "Satisfacer", cursiva;
  font-weight: bold;
  font-size: 3em;
}
.seccionesIndex .seccion_tres .parrafos_index3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
  padding-top: 4rem;
}
.seccionesIndex .imagenSeccion_tres {
  display: inline-block;
  padding-top: 4rem;
  padding: 4rem;
}
.seccionesIndex .imagenSeccion_tres .imagenIndex_tres {
  width: 60%;
  border: 0.3rem black solid;
  object-fit: cover;
  margin-bottom: 6rem;
}

/*modificaciones nosotros.html*/
.secciontitulo_nosotros {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.secciontitulo_nosotros .tituloPrincipal_nosotros {
  font-family: "Island Moments", cursiva;
  font-size: 4.5em;
  font-weight: bold;
}
.secciontitulo_nosotros .subtitulo_nosotros {
  font-family: "Rubik Vinyl", cursiva;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-top: 1.5rem;
}
.secciontitulo_nosotros .subtitulo_nosotros2 {
  font-family: "Rubik Vinyl", cursiva;
  font-weight: lighter;
  font-size: 1.1rem;
}

.sobre_nosotros {
  margin-top: 4rem;
}
.sobre_nosotros .mano_nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre_nosotros .mano_nosotros .manoAnimada_nosotros {
  animation: animaciones infinite 2s ease-in-out;
  height: 65%;
}
.sobre_nosotros .seccion_motivacion {
  margin: auto;
  text-align: center;
}
.sobre_nosotros .seccion_motivacion .div_motivacion {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sobre_nosotros .seccion_motivacion .div_motivacion .titulo_motivacion {
  font-family: "Satisfacer", cursiva;
  font-size: 2em;
  font-weight: bold;
}
.sobre_nosotros .seccion_motivacion .div_motivacion .parrafo_motivacion {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}
.sobre_nosotros .seccion_motivacion .div_skulka {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sobre_nosotros .seccion_motivacion .div_skulka .titulo_skulka {
  font-family: "Satisfacer", cursiva;
  font-size: 2em;
  font-weight: bold;
}
.sobre_nosotros .seccion_motivacion .div_skulka .parrafo_skulka {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}

@keyframes animaciones {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
.seccion_ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_ubicacion .div_ubicacion {
  text-align: center;
}
.seccion_ubicacion .div_ubicacion .div_ubicacion2 {
  display: inline-block;
  text-align: center;
}
.seccion_ubicacion .div_ubicacion .div_ubicacion2 .miniTitulo_ubicacion {
  font-family: "Satisfacer", cursiva;
  font-size: 2em;
  font-weight: bold;
}
.seccion_ubicacion .div_ubicacion .div_ubicacion2 .imagen_ubi {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 30%;
}
.seccion_ubicacion .div_ubicacion .div_mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion_horarios_valores {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.seccion_horarios_valores .div_horarios_valores {
  text-align: center;
}
.seccion_horarios_valores .div_horarios_valores .titulo_HV {
  font-family: "Satisfacer", cursiva;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2rem;
}
.seccion_horarios_valores .div_horarios {
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
}
.seccion_horarios_valores .div_horarios .titulo_horario {
  font-family: "Crimson Text", serif;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 2rem;
}
.seccion_horarios_valores .div_horarios .div_titulo_horario {
  display: inline-block;
  text-align: center;
  border: 0.3rem white solid;
  width: 50%;
}
.seccion_horarios_valores .div_horarios .div_titulo_horario .parrafo_horario {
  padding-top: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}
.seccion_horarios_valores .div_mano_nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.seccion_horarios_valores .div_mano_nosotros .mano_nosotros2 {
  padding-top: 1.5rem;
}
.seccion_horarios_valores .div_valores {
  display: inline-block;
  text-align: center;
  margin-bottom: 3rem;
}
.seccion_horarios_valores .div_valores .titulo_valores {
  font-family: "Crimson Text", serif;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 2rem;
}
.seccion_horarios_valores .div_valores .div_titulo_valores {
  display: inline-block;
  text-align: center;
  border: 0.3rem white solid;
  width: 50%;
}
.seccion_horarios_valores .div_valores .div_titulo_valores .parrafo_valores {
  padding-top: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

/*modificando datos.html*/
.seccion_titulo_datos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.seccion_titulo_datos .tituloPrincipal_datos {
  font-family: "Island Moments", cursiva;
  font-size: 3em;
  font-weight: bolder;
  text-decoration: underline 0.3rem;
}

.div_yogapower {
  text-align: center;
  margin: auto;
  border: 0.3rem white solid;
  height: 50%;
}
.div_yogapower .miniTitulos_datos {
  font-family: "Satisfacer", cursiva;
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.div_yogapower .parrafos_datos {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}

.div_mano_datos {
  text-align: center;
  margin: auto;
  padding-top: 2rem;
}
.div_mano_datos .mano_datos {
  width: 75%;
}

.div_yogahatha {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.3rem white solid;
}
.div_yogahatha .miniTitulos_datos {
  font-family: "Satisfacer", cursiva;
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.div_yogahatha .parrafos_datos {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}

.seccion_sahumados_datos {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.seccion_sahumados_datos .titulo_sahumados_datos {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Satisfacer", cursiva;
  font-size: 3em;
  font-weight: bold;
}
.seccion_sahumados_datos .div_sahumados_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_sahumados_datos .div_sahumados_datos .imagen_sahumados_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_sahumados_datos .div_sahumados_datos .imagen_sahumados_datos .imagenSahumados_datos {
  width: 50%;
  height: 75%;
  border: 0.3rem black solid;
  object-fit: cover;
}
.seccion_sahumados_datos .div_sahumados_datos .parrafos_sahumados_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_sahumados_datos .div_sahumados_datos .parrafos_sahumados_datos .parrafoSahumerio_datos {
  text-align: center;
  padding-left: 3rem;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}

.seccion_auricos_datos {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.seccion_auricos_datos .titulo_aurico_datos {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Satisfacer", cursiva;
  font-size: 3em;
  font-weight: bold;
}
.seccion_auricos_datos .div_auricos_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_auricos_datos .div_auricos_datos .imagen_aurico_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_auricos_datos .div_auricos_datos .imagen_aurico_datos .imagenAurico_datos {
  width: 70%;
  height: 85%;
  border: 0.3rem black solid;
  object-fit: cover;
}
.seccion_auricos_datos .div_auricos_datos .parrafos_aurico_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_auricos_datos .div_auricos_datos .parrafos_aurico_datos .parrafoAurico_datos {
  text-align: center;
  padding-left: 3rem;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}

.seccion_hoponomo_datos {
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.seccion_hoponomo_datos .titulo_hoponomo_datos {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Satisfacer", cursiva;
  font-size: 3em;
  font-weight: bold;
}
.seccion_hoponomo_datos .div_hoponomo_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_hoponomo_datos .div_hoponomo_datos .imagen_hoponomo_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_hoponomo_datos .div_hoponomo_datos .imagen_hoponomo_datos .imagenHoponomo_datos {
  width: 60%;
  height: 95%;
  border: 0.3rem black solid;
  object-fit: cover;
}
.seccion_hoponomo_datos .div_hoponomo_datos .parrafos_hoponomo_datos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion_hoponomo_datos .div_hoponomo_datos .parrafos_hoponomo_datos .parrafoHoponomo_datos {
  text-align: center;
  padding-left: 3rem;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}

/*modificando contacto.html*/
.divPrincipal_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.divPrincipal_contacto .tituloPrincipal_contacto {
  font-family: "Island Moments", cursiva;
  font-size: 4.5em;
  font-weight: bolder;
  text-decoration: underline 0.3rem;
}

.divSubtitulo_contacto {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.divSubtitulo_contacto .subtitulo_contacto {
  font-family: "Rubik Vinyl", cursiva;
  font-size: 1.6em;
  padding-bottom: 4rem;
}

.div_form {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border: 0.3rem black solid;
}
.div_form .div_nombre_form {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.div_form .div_nombre_form .parrafos_form_nombre {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}
.div_form .parrafos_form_email {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}
.div_form .parrafos_form_number {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
}
.div_form .div_consultas {
  margin-bottom: 2rem;
}
.div_form .div_consultas .parrafos_form_consultas {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  padding-top: 2rem;
}
.div_form .div_botones {
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.div_form .div_botones .boton_enviar {
  width: 25%;
  margin-right: 1.5rem;
}
.div_form .div_botones .boton_borrar {
  width: 25%;
}

.div_postura_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 90vh;
  margin: auto;
}
.div_postura_contacto .imagen_postura_contacto {
  width: 60%;
  animation: animaciones infinite 2s ease-in-out;
}

/*media queries*//*# sourceMappingURL=estilos.css.map */