/*modificaciones header*/

.header_content{
    border-bottom: 0.3rem black solid;
    align-items: center;
    .divImagen_header{
        @include flex;
        .anclaHeader{
            margin-top: $spacing-xsmall;
            margin-bottom: $spacing-xsmall;
        }
        
    }
}


.anclas{
    margin-right: 2rem;
    font-family: $fuenteanclas;
    font-size: $text-xsmall;
    transition: all 1s;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    &:hover{
        color: $dark;
        background-color: violet;
        border-radius:3rem;
        border-style: solid;
        letter-spacing: 0.25em;
        font-weight: bold;
    
    
        

    }
}                