/*modificaciones main index*/

.cuerpo{
    background-color: rgb(218, 192, 255);
    .mainTittle{
        text-align: center;
        padding-top: $spacing-small;
        .tituloPrincipal_index{
            font-family: $titulosprincipales;
            font-size: 4.5rem;
            font-weight: bold;
            letter-spacing: 0.8rem;
            padding-bottom: $spacing-xsmall;
            text-decoration: underline 0.3rem;
            color: $color-primario;
            
        }
        .subtituloPrincipal_index{
            font-family: $titulosprincipales;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            color: $color-primario;
        }
    }
    
    .imagenmano_index{
        @include flex;
        margin-top: $spacing-medium;
    }
    
    .manoAnimada{
        animation:animaciones infinite 2s ease-in-out;
        width: 30%;
        
    }
    
    @keyframes animaciones {
        0% {transform: translateY(0);}
        50% {transform: translateY(-25px);}
        100% {transform: translateY(0);}
    }
}


.seccionBienvenida{
    margin-left: $spacing-small;
    margin-top: $spacing-small;
    .tituloBienvenida{
        font-family: $subtitulosprincipales;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: overline;
    }

}


.seccionesIndex{
    text-align: center;
    align-items: center;
    .seccion_uno{
        display: inline-block;
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;
        .miniTitulos_index{
            font-family: $minititulos;
            font-weight: bold;
            font-size: $text-medium;
            padding-bottom: $spacing-xsmall;
        }
        .parrafos_index{
            font-family: $parrafos;
            font-weight: lighter;
            font-size: $text-xsmall;
            
        }
    }
    .imagenSeccion_uno{
        display:inline-block;
        padding-top: $spacing-small;
        padding: $spacing-small;
        .imagenIndex_uno{
            width: 60%;
            border: 0.3rem black solid;
            object-fit: cover;
        }
    }   

}

.seccionesIndex{
    text-align: center;
    align-items: center;
    .seccion_dos{
        display: inline-block;
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;
        .miniTitulos_index{
            font-family: $minititulos;
            font-weight: bold;
            font-size: $text-medium;
            padding-bottom: $spacing-xsmall;
        }
        .parrafos_index{
            font-family: $parrafos;
            font-weight: lighter;
            font-size: $text-xsmall;
            
        }
    }
    .imagenSeccion_dos{
        display:inline-block;
        padding-top: $spacing-small;
        padding: $spacing-small;
        .imagenIndex_dos{
            width: 60%;
            border: 0.3rem black solid;
            object-fit: cover;
        }
    }   

}

.seccionesIndex{
    text-align: center;
    align-items: center;
    .seccion_tres{
        display: inline-block;
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;
        .miniTitulos_index3{
            font-family: $minititulos;
            font-weight: bold;
            font-size: $text-large;
        }
        .parrafos_index3{
            font-family: $parrafos;
            font-weight: lighter;
            font-size: $text-small;
            padding-top: $spacing-small;
        }
    }
    .imagenSeccion_tres{
        display:inline-block;
        padding-top: $spacing-small;
        padding: $spacing-small;
        .imagenIndex_tres{
            width: 60%;
            border: 0.3rem black solid;
            object-fit: cover;
            margin-bottom: $spacing-medium;
        }
    }   
}